*.log
build/
dist/
__pycache__/
bds/__pycache__/
*.py[cod]
.venv/
.idea/
logs/
installer/Files.wxs
installer/obj/
*.txt
!requirements-win7.txt
*.rar
*.zip
*.csv
!requirements.txt
!requirements-dev.txt
